snippet tellsys
	tell application "System Events"
		${1}
	end tell

snippet tell
	tell ${1:application }${2}
	end tell${3}
	
snippet if
	if ${1} then
		${2}
	end if

snippet ife
	if ${1} then
		${2}
	else
		${3}
	end if
